{% extends 'base.html.twig' %}

{% block title %}Training index{% endblock %}

{% block body %}
    <h1>Training index</h1>

    <table class="table" style="width: 50%; margin: auto; background-color: rgba(179, 159, 132, 0.7); " >
        <thead>
            <tr>
                <th>Id</th>
                <th>Naam</th>
                <th>Description</th>
                <th>Duration</th>
                <th>Costs</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for training in trainings %}
            <tr>
                <td>{{ training.id }}</td>
                <td>{{ training.naam }}</td>
                <td>{{ training.description }}</td>
                <td>{{ training.duration ? training.duration|date('H:i:s') : '' }}</td>
                <td>{{ training.costs }}</td>
                <td>
                    <a href="{{ path('training_show', {'id': training.id}) }}" style="color: whitesmoke;">show</a>
                    <a href="{{ path('training_edit', {'id': training.id}) }}" style="color: whitesmoke;">edit</a> <br>
                    <a href="{{ path('training_new') }}" style="color: whitesmoke;">Create new</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
